/* common shared styles */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}

.i {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
    /* 145.833% */
}

.web-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    width: 708px;
    margin-bottom: auto;
}

/* header styles */
header {
    background: rgba(229, 84, 115, 0.10);
    width: 1920px;
    height: 850px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    width: 635px;
    height: 800px;
    margin: 0 200px;
    /* flex-shrink: 0; */
}

.introduction {
    padding: 30;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 634px;
}

.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border: 0;
}

.banner-pic {
    width: 635px;
    height: 800px;
    margin-top: 50px;

}

/* main section styles */
main {
    max-width: 2000px;
    margin: auto;
}

/* flower tree */
.p1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    margin-right: 20px;
}

.img1 {
    width: 310px;
    height: 428px;
    flex-shrink: 0;
    padding: 110px 78px 78px 60px;
}

.p2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    margin-right: 20px;
}

.img2 {
    width: 370px;
    height: 370px;
    flex-shrink: 0;
    padding: 117px 47px 125px 51px;
}

.p3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 464px;
    height: 538px;
    flex-shrink: 0;
}

.img3 {
    width: 314px;
    height: 471px;
    flex-shrink: 0;
    padding: 67px 75px 75px 67px;
}

.flower-tree {
    display: flex;
    justify-content: center;
    margin-bottom: 128px;
}

.f1 {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 5px;
    /* 145.833% */
    text-decoration-line: underline;
}

.icon {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    width: 1440px;
    height: 320px;
    flex-shrink: 0;
    display: inline-flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 50px;
    padding: auto;
    margin-left: 5%;
}

.text-primary {
    color: #E55473;
    font-size: 40px;
    font-weight: 800;
}

#sign-up-button {
    margin-left: 25%;
}

.flower-vase {
    width: 318px;
    height: 420px;
}

.hot-deal {
    display: flex;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    width: 1922px;
    height: 620px;
    margin-top: 5%;
    padding: 10% 5% 0 25%;
}

.rec-pics {
    width: 342px;
    height: 396px;
    padding: 20px;

}

.rectangle-pics {
    display: inline-flex;
}

.email {
    border-radius: 8px;
    background: #FFF;
    width: 700px;
    height: 64px;
    flex-shrink: 0;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    border: none;
}

.latest-deal {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 1440px;
    height: 450px;
    flex-shrink: 0;
    border-radius: 8px;
    background: url('../images/Rectangle\ 9.png'), lightgray 0px -203.444px / 100% 213.755% no-repeat;
}

.coupon {
    text-align: center;
    padding-top: 10%;
}

.copyrights {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

footer {
    width: 1922px;
    height: 400px;
    flex-shrink: 0;
    background: #111010;
    text-align: center;
    margin-top: 1%;
    padding-top: 2%;
}

#shop {
    color: #FFF;
}
#deal-description{
    width: 594px;
}